[2016-05-20 02:17] elbamos opened #2 "OpenMP"
Just FYI - There's an issue with OpenMP I'm working on fixing.  If you get an error that the c stack limit was exceeded, this is why.

[2016-05-20 08:51] davidleon opened #3 "There's no explicit working code in the repo to test the plotting."
It's better to integrate the mnist example.

[2016-05-20 19:39] elbamos commented on #3
Can you clarify what you're looking for in particular?  If you want to reproduce the mnist plot I have up, I'm happy to share the data, but its a big file, so I'll have to give it to you by dropbox or something else.

[2016-05-20 22:44] davidleon commented on #3
yes, the mnist plot. But i don't need the data. I would like the code actually.

[2016-05-21 03:22] davidleon commented on #3
it's great to see one plotting implementation. how about the colorized one. and how do you guys deal with the mnist data? which package used? and how to visualize the iris data? new to R.

[2016-05-21 05:09] elbamos commented on #2
Resolved

[2016-05-21 05:09] #2 closed, assigned to nobody

[2016-05-21 05:11] elbamos commented on #3
David, the complete code for the mnist example is in the file README.Rmd.

(Also, there isn't an "us guys."  This is my implementation of the algorithm presented in the paper, I'm not an author of the paper.  I did correspond with the authors, who very generously provided additional details concerning their implementation and the hyperparameters used to generate the results in the paper.)

[2016-05-21 05:11] #3 closed, assigned to nobody

[2016-05-21 07:35] JerryDing opened #5 "linker error in windows"
neighbors.o:neighbors.cpp:(.text+0x5eb7): undefined reference to `dgemv_'

[2016-05-21 09:39] davidleon commented on #3
ah cool, found the code. but what's the mnist.rda? how to create one

[2016-05-21 09:44] davidleon commented on #5
more details? I'm running win10. R(64bit). And Rtools(64bit).
the following command works for me:
rcmd INSTALL largevis --no-multiarch

[2016-05-21 17:16] JerryDing commented on #5
Thanks. I use devtools for i386:
install_github("elbamos/largevis")

C:/RBUILD~1/3.1/mingw_32/bin/g++ -shared -s -static-libgcc -o largeVis.dll tmp.def RcppExports.o largeVis.o neighbors.o pjicalculation.o -fopenmp -Ld:/Compiler/gcc-4.9.3/local330/lib/i386 -Ld:/Compiler/gcc-4.9.3/local330/lib -LC:/PROGRA~1/R/R-33~1.0/bin/i386 -lR
neighbors.o:neighbors.cpp:(.text+0x5eb7): undefined reference to `dg

[2016-05-21 18:23] elbamos commented on #5
@JerryDing I don't have a Windows machine to try to diagnose this --- but "dgemv_" is part of the BLAS.  So I would look at whether your BLAS, LAPACK, and RcppArmadillo are installed properly and functioning correctly.

[2016-05-22 03:02] complexly commented on #5
@JerryDing I came across the same error, and solved the issue by adding " $(LAPACK_LIBS) $(BLAS_LIBS)" to the variable PKG_LIBS in the file src/Makevars.

[2016-05-22 05:45] JerryDing commented on #5
@complexly Thanks. That's the solution because I did not link BLAS.

[2016-05-23 02:20] ww880412 opened #7 "Compilation failed in Rstudio???"
When I use devtools install in Rstudio, It seems that compilation failed:

neighbors.cpp: In function ‘arma::mat searchTrees(const int&, const int&, const int&, const int&, const int&, const mat&, bool)’:
neighbors.cpp:114:25: error: ‘regspace’ is not a member of ‘arma’
     arma::vec indices = arma::regspacearma::vec(0, N - 1);
                         ^
neighbors.cpp:114:49: error: expected prim

[2016-05-23 06:00] elbamos commented on #7
What version of RcppArmadillo do you have installed?  That's what provides the `arma::` functions.  I may need up add a version to the dependency.

[2016-05-23 08:08] ww880412 commented on #7
When I updated the RcppArmadillo to latest version, the error has been resolved~
(The previous version is 0.6.400)

[2016-05-23 21:44] elbamos commented on #7
Ok, I will add a min version of RcppArmadillo in a bug patch shortly.  You may want to try the `bench` branch.

[2016-05-25 14:52] xiaolibird commented on #5
@davidleon @complexly

I linked the BLAS and LAPACK like this below in src\Makevars, and I've installed RcppArmadillo　
`PKG_LIBS = $(SHLIB_OPENMP_CXXFLAGS)$(LAPACK_LIBS)$(BLAS_LIBS)
`

and "dgemv_" didn't appear

but it still had '**undefined reference to 'omp_get_num_threads'** ' and similar ones
but my _Rtools\gcc-4.6.3\i686-w64-mingw32\include_ does have _omp.h_

seems like anything about OpenM

[2016-05-25 17:45] zaburo-ch opened #8 "caught segfault, cause 'memory not mapped'"
I installed this package on OSX 10.11.2 using devtools.
Then I ran the below command and caught segfault.

[code]

Rcpp used g++ (Homebrew gcc 5.3.0).
I also tried using gcc 4.9.2, but same error occurred.

[2016-05-26 01:36] elbamos commented on #8
Try the version in the 'bench' branch on here.

[2016-05-26 01:37] elbamos commented on #8
The other thing to try, is to try installing with openmp disabled. (The error you're seeing relates to multi-threading.)   Let me know if you want to try that and need to be talked through it.

[2016-05-26 09:46] zaburo-ch commented on #8
Thanks for replying.
I misunderstood that we should pass data as dataframe.
It was resolved by using matrix simply.

[code]

[2016-05-26 20:47] elbamos commented on #8
Huh.  Ok I'm going to close this.  If its not working, then please reopen.

[2016-05-26 20:47] #8 closed, assigned to nobody

[2016-05-26 20:47] elbamos commented on #7
I'm going to close this now.  Please reopen if the issue persists.

[2016-05-26 20:47] #7 closed, assigned to nobody

[2016-05-26 21:05] elbamos commented on #3
If you look in the vignette I've just added, there's code that downloads the mnist data and visualizes it.

[2016-05-30 20:13] elbamos commented on #5
@xiaolibird This should be fixed in the current version, 0.1.5.  Again, I don't have a Windows machine, so I'm trying to test Windows build with Appveyor.  Let me know if issues persist.

[2016-06-03 12:16] xiaolibird commented on #5
@elbamos  It works! Thanks a lot.

[2016-06-10 06:52] #5 closed, assigned to nobody

[2016-06-10 19:16] sparrisable opened #12 "Trying to run: "sourceCpp(sparseneighbors.cpp)""
I am trying to get the sparseneighbors.cpp to work from R by running sourceCpp. It works for largeVis.cpp:

I did update armadillo to the latest version:

I suspect that there is a reference to something like arma:mat:sparsecosdist()  that is not present in my version of armadillo.

I am running on debian.

I am a beginner with R, all advice is welcome.
Thank you for putting the largeVis project o

[2016-06-13 01:49] elbamos commented on #12
I'm not sure why you are running `sourceCpp`, but I'm positive that trying to install the package that way won't work.  You want to use R's commands to install the package.  Assuming you have `devtools` installed:

[code]

[2016-06-14 01:57] elbamos commented on #12
I'm gonna close this for now.  If something else comes up, please create a new issue.

[2016-06-14 01:57] #12 closed, assigned to nobody

[2016-06-14 07:37] sparrisable commented on #12
Thank you, it worked.

On debian I did (for reference):
In bash:
sudo apt-get -y build-dep libcurl4-gnutls-dev
sudo apt-get -y install libcurl4-gnutls-dev
In R:
install.packages("devtools")
devtools::install_github("elbamos/largeVis")
library("largeVis")

[2016-07-17 18:09] jboelaert opened #13 "Installation error"
Hi, thanks a lot for making this package.
I have trouble installing it, however. I'm running R 3.3.0 on a Debian 8, and all dependencies are satisfied. This is what I get :

`$ R CMD INSTALL largeVis`
`* installing to library ‘/home/bart/R/x86_64-pc-linux-gnu-library/3.3’`
`* installing *source* package ‘largeVis’ ...`
`** libs`
`g++ -std=c++11 -I/usr/share/R/include -DNDEBUG   -I"/home/bart/R/x86

[2016-07-17 19:23] elbamos commented on #13
That's odd, but anyway I expect to push a major update in a few days so check back and we'll see if that fixes it.

[2016-07-18 01:06] DataWaveAnalytics commented on #13
Hello,
First, thanks @elbamos for this code.
Just curiosity @elbamos , what are you including in the next push?

Cheers

[2016-08-02 19:39] gaosh opened #14 "Issue about the results of function vis()"
Firstly, thanks for the nice implementation.
I tried this algorithm on the cifar 10 dataset. The problem is that I got different results from the same input. Is there any method to deal with it, and make the results more stable?

[2016-08-03 02:47] elbamos commented on #14
In the first place, I'd strongly encourage you to use the version in branch `reference` (which hopefully will be merged into and become branch 0.1.6 tonight...)  A lot of bugs have been fixed.

The new branch uses a difference random number generator where its possible to set the random seed properly, but I haven't written code to do that yet.  I may try to get to it this week, although if you wan

[2016-08-03 04:41] elbamos commented on #14
I'm really eager to see what the results are of running this on cifar!

[2016-08-03 18:24] gaosh commented on #14
Thanks for the reply. There are the results comes from 256 dimension
features of cifar10 test set.

On Wed, Aug 3, 2016 at 12:41 AM, elbamos notifications@github.com wrote:

[2016-08-07 20:49] elbamos commented on #14
@gaosh Branch 0.1.7, which I've just pushed, lets you set a random seed for reproducibility.

Note that setting the seed will impact performance, because it is also necessary to turn off multithreading or the results would be non-deterministic.

[2016-08-08 18:25] gaosh commented on #14
Ok, I will try this new version. Thanks a lot.

2016年8月7日星期日，elbamos notifications@github.com 写道：

[2016-08-10 17:00] FuriouslyCurious opened #16 "Any plans for Pythong bindings?"
Thank you for implementing LargeVis - I am eager to try the algo since paper was published.

Do you have any plans to add Python bindings for it?  Thanks again.

[2016-08-10 17:25] elbamos commented on #16
Thanks!  I'm not planning on Python because  the reference implementation includes a python binding. You can see that in @lferry007 's repo.

If you use the R version, I suggest using the one in branch 0.1.7, which hopefully will become the master tonight.

[2016-08-12 10:24] Laurae2 opened #19 "Hyperparameters' definition domain"
Hello,

I've looked thoroughly the paper discussing about largeVis since it is available in arxiv (since more than 5 months now), and I am still wondering about the following:
- How many total hyperparameters are there from scratch? From what I am seeing, there are 10 of them (k, n_trees, tree_threshold, max_iter, distance_method, perplexity, M, gamma, alpha, rho), assuming the output dimension is

[2016-08-18 04:47] elbamos commented on #19
Yes, that's correct.

But -- and this is discussed in the benchmarks vignette -- `n_trees`, `tree_threshold`, and `max_iter` are really three different ways of attacking the same problem, of finding the best approximation of nearest neighbors in the least time with the least RAM.  So when you adjust those hyperparameters, usually what you are doing is trading one off against others.

One of the th

[2016-08-18 04:47] #16 closed, assigned to nobody

[2016-08-18 04:47] elbamos commented on #14
@gaosh If 0.1.7 worked, do you want to close this issue?

[2016-08-18 17:11] gaosh commented on #14
Yes, I want to close the issue.

2016年8月18日星期四，elbamos notifications@github.com 写道：

[2016-08-20 12:41] sparktsao opened #20 "installation error when compiling cpp code"
[code]

change p{p} to p(p) can fix the compilation error, but the code crash when i do  randomProjectionTreeSearc in R.

[2016-08-20 18:31] elbamos commented on #20
What compilation environment and system is this happening on?

From googling the error, it looks like you may be using a very old version of gcc with a bug in it: http://stackoverflow.com/questions/10509603/why-cant-i-initialize-a-reference-in-an-initializer-list-with-uniform-initializ

[2016-08-20 20:08] elbamos commented on #19
@Laurae2 If I've answered your question, I'd appreciate if you would close this issue.  Thanks!

[2016-08-20 20:08] #14 closed, assigned to nobody

[2016-08-20 20:09] #13 closed, assigned to nobody

[2016-08-20 22:25] sparktsao commented on #20
my environment is 4.8, do i need to upgrade to 4.9?

[code]

[2016-08-20 22:45] elbamos commented on #20
Could you try 4.9 and see what happens?

If you look at the travis results, you'll see that the code compiles without error on a variety of Linux and Mac OS X and Windows environments.

I would like to try to fix this, but since I don't have your environment, I need to rely on you to try things. I would really appreciate your help so we can resolve it.

[2016-08-22 03:55] sparktsao commented on #20
seems it's the compiler's issue,
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=50025
we can repeat the compilation error by the following simple code at https://gcc.godbolt.org/,
4.8.2 with error, but 4.9.2 is ok,
i will update my compiler, thank you for answering!

[code]

[2016-08-22 14:02] elbamos commented on #20
Thank you for following up!

[2016-08-22 14:02] #20 closed, assigned to nobody

[2016-08-23 18:35] Laurae2 commented on #19
Yep you answered my question!

Closing this issue.

[2016-08-23 18:35] #19 closed, assigned to nobody

[2016-08-24 12:30] gryang11 opened #22 "Installation error"
I'm using Rtools to install the source files (through R in Windows 7). The R version is 3.3.0 and gcc version is 4.9.3. The command I use to install in R is
`install.packages("largeVis", repos = NULL, type="source", verbose = T, quiet = F)`

The error information is as follows.
(For convenience, I pick up the key line here: `largeVis.cpp:58:6: error: cannot convert 'int*' to 'vertexidxtype* {aka l

[2016-08-24 13:18] elbamos commented on #22
This started happening yesterday on Windows systems. It's happening on the testing platforms and is the reason the package hasn't gone to cran yet. Looks to me like something in Win32 world got upgraded and broke Its compiler.

I'm working on a fix but it's hard because I don't have access to a win32 machine. If you want to fix it and submit a PR, that would be great!

[2016-08-24 14:09] gryang11 commented on #22
I'm willing to help fix it. How can I submit a PR (actually I don't know what PR is) ?

[2016-08-24 15:15] elbamos commented on #22
It's the "pull request" button, or google "github pull request."

You can also try the version in branch hdbscan but it will be size-limited on win32 systems.

[2016-08-26 03:38] elbamos commented on #22
@gryang11 Any luck?  Right now this issue is the only thing preventing me from getting largeVis on CRAN.

[2016-08-27 02:51] gryang11 commented on #22
@elbamos No. I tried to install in a fresh Win7 64-bit machine (without any updates) and failed again, so I guess it is not the upgrade things that matters. I'm going go try different version of R to confirm whether it is the reason.

[2016-08-27 06:10] elbamos commented on #22
I have a version now that appears to run on 64 bit Windows, but not on i386. Check the "cran" branch of this repo.

[2016-08-27 21:58] gryang11 commented on #22
@elbamos This branch works!

It seems the code has used some type conversion that is prohibited in win32 but available in 64 bit Windows.

[2016-08-27 22:25] elbamos commented on #22
Could you elaborate on that? I haven't been able to get any detail about the error occurring on win 32.

[2016-08-28 04:33] gryang11 commented on #22
I will try, but I'm not sure whether I can fix it.

I mixed up something in my previous reply. Actually the versions of Windows where I failed with the master branch and succeeded with the cranpush branch are both Win 7 64-bit (none of them is win32). So the guess I made was unreasonable. It is not the case that there are some type conversions prohibited in win32 but available in 64 bit Windows.

[2016-08-28 04:38] elbamos commented on #22
Well yes - the cran branch has the fixes I made for Windows. They aren't in master because I'm not done testing. But the cran branch also fails on win32.

[2016-08-28 13:33] sparktsao opened #23 "meaning of tree failure."
Thank you for providing the great works,
I got a question that some dataset will lead to "tree failure exception" in the function "copyHeapToMatrix".
What does it means? how can I avoid it when preparing the dataset?

[code]

[2016-08-28 21:26] elbamos commented on #23
That's extremely odd-that error-check code is there to test the internal consistency of the implementation.  Can you provide your data so I can take a look?

[2016-08-29 06:04] elbamos commented on #23
What it means, essentially, is that during the tree-search part of the neighbor search algorithm, it found zero neighbors for a point. It should not be possible for that to happen.  I would really appreciate knowing the details of your dataset and the parameters you were using.  I'm guessing you found some sort of edge case, and I should add a check for it.

[2016-08-29 11:12] sparktsao commented on #23
Thank you for the explanation.

When I largvis my dataset (dim:1600, number of record: 900K) successfully, I try to understand more about our data when dim is small, So I use feature reduction skill to reduce my 1600 dim.
I found the Tree failure issue when our data dim < 30. (ex: i failed at 2, 13, 30).
I am wondering if we meet some corner cases when dim too small, maybe too many data points fal

[2016-08-29 12:04] gryang11 commented on #22
I tried to install the cran branch in a Win 7 32-bit machine and failed. I plan to delete some lines in `largeVis.cpp` block by block to see which part leads to a fatal error.

[2016-08-29 14:32] elbamos commented on #23
Can you elaborate on the memory issue and is it possible to see this data?

The relevant code in neighbor search hasn't changed in quite some time so memory usage in that phase should be constant. And reducing dims to ~30 shouldn't affect the tree search at all. (What might affect it are na's and Nan's though.)

Thank you for reporting this! I'd really appreciate your help nailing it down.

[2016-08-29 14:34] elbamos commented on #22
That doesn't surprise me either, depending on when you installed it. The cran branch is my working branch, and I've been updating it often. Anyway let me know if you come up with anything.

(Btw - the file you want to look at is probably largevis.h)

[2016-08-30 11:11] gryang11 commented on #22
@elbamos Yes, I am reviewing `largevis.h`, but no progress today.

Besides the failure in win32, I found it fail in Linux too. Both the master and cran brach failed. The platform is ubuntu 14.04 with gcc 4.8.2. The error information is as follows:

[2016-08-30 13:51] elbamos commented on #22
LargeVis requires a compiler that fully supports C++11. That version of gcc does not. This is normal and expected.

[2016-08-30 14:28] sparktsao commented on #23
https://github.com/sparktsao/casetreefail
I can reproduce the error message in 2 different AWS EC2 instances,
but it's strange not always can reproduce the error message every run.
maybe there is some random behavior in the function.

[2016-08-30 15:10] elbamos commented on #23
The function does have random behavior as part of the algorithm, but _that_ error should never occur. Thank you for posting the data - I will take a look tonight.

[2016-08-30 16:12] elbamos commented on #23
Wait a sec... Your log seems to show that the current version performs properly, you're only getting the error on old release 0.1.5 is that right?

[2016-08-30 19:38] sparktsao commented on #23
![image](https://cloud.githubusercontent.com/assets/6280742/18104169/60a8d0e8-6f2c-11e6-88eb-ad8fc59e0db6.png)
0.1.6?

[2016-08-30 19:49] elbamos commented on #23
But why not use the current version?

[2016-08-30 19:53] sparktsao commented on #23
And Yes, latest version only output warning message without 'tree failure'.
I choose stay in 0.1.6 here due to it can handle (1600 \* 900K) smoothly. The program got "killed" when running large datatset (1600 \* 900k) when using latest version.
Might be run out of memory, It might not be an issue, due to it might be solved by increase memory.
Sorry i didnt repeat that yet.

[2016-08-30 19:59] elbamos commented on #23
Can you show me the data where the current version died? It should not be less memory efficient at all.

[2016-08-30 20:02] elbamos commented on #23
Actually - one thing that did change after 0.1.6 was the default parameters. So what may be happening is that it's trying to use default settings, probably for tree_threshold, that are using more ram.

The reason for the change is to emulate the settings of the paper authors' reference code.

Try tamping-down the tree threshold. They set it way too big on high-D data.

[2016-08-31 05:01] elbamos commented on #23
@sparktsao I just tried it, and with the default settings, it ran and completed on my machine in less than 3 seconds.  It did not take long enough for me to even measure how much RAM was being used.  I tried it up to K = 100.

(I do need to adjust that progress bar a bit...)

The reason why you're getting fewer neighbors found than you're looking for, by the way, is that approximately 1/3 of your

[2016-08-31 10:10] sparktsao commented on #23
The data i prepared is the minimum set of data i can reproduce tree failure case in build 654da27f77b9b579e5482099b915b62176582051, not for memory issue.
If you are using latest version of the code, should be ok without tree failure exception and memory issue.

The default setting change might explain why i met the memory issue, Now I will try to use tree threshold parameters to find a good config

[2016-08-31 18:36] elbamos commented on #23
Ok I'm going to close this issue.

Regarding the tree threshold, I suggest you look at the benchmarks vignette.  It includes a detailed discussion of how changing the threshold, the number of trees, and the number of exploration-iterations affects performance, memory usage, and accuracy.  It is intended to be helpful to folks dealing with issues like yours -- if it doesn't get you to where you nee

[2016-08-31 18:36] #23 closed, assigned to nobody

[2016-09-01 03:18] tdeboissiere opened #24 "Gradient computation detail"
In `gradients.cpp`, I am not sure whether the negative gradient computation of the AlphaOneGradient is correct.

For the positive gradient, we have:

[code]

Deriving w.r.t yi, we get :

[code]

This matches your computation of the gradient and the subsequent `multModify` operation.

For the negative gradient, we have:

[code]

Deriving w.r.t yi, we get :

[code]

 This matches your computation of

[2016-09-01 03:33] elbamos commented on #24
Boy I wish I'd heard from you when I was struggling to get the gradient right!

I'm not sure I completely follow.  Are you saying that you think I have an extra factor of 2 in the gradient?  Or are you saying I'm missing a factor of 2?  Are you saying that you come up with different code than I do, or are you saying that you tested your code and my code and they produce different answers?

If its

[2016-09-01 05:47] tdeboissiere commented on #24
Yes it is clear now (the factor two I mentioned is included in alphagamma) so everything is in order !

However, I think it would be clearer if you defined alphagamma as alpha \* gamma and move the 2 to the gradient code. (Unless you had another reason to do so).

[2016-09-01 05:55] elbamos commented on #24
Whew! You had me worried for a minute!

Actually for the last two hours I've been running plots with different settings (1, 2, 4) of that constant for mnist and it seems to actually matter very little. I suppose the effect is very similar to what happens by varying M, controlling the total relative weight of the negative and positive samples in the total gradient.

[2016-09-01 06:16] tdeboissiere commented on #24
All good, closing.

[2016-09-01 06:16] #24 closed, assigned to nobody

[2016-09-03 00:45] elbamos commented on #22
@gryang11 if I send you a debug version can you send me the output? This is the only thing keeping the package off CRAN and I don't have a Windows i386 machine to test on.

[2016-09-05 01:25] gryang11 commented on #22
@elbamos Ok. That would be great.

[2016-09-05 21:36] elbamos commented on #22
@gryang11 Try what's on branch `cranpush` now.

[2016-09-06 01:26] gryang11 commented on #22
@elbamos All right.

[2016-09-06 01:53] gryang11 commented on #22
@elbamos The compilation error is listed as follows. (fresh windows 7 32bit without any updates)
`install.packages("largeVis-cranpush", repo = NULL, type = "source")`

[2016-09-06 02:21] elbamos commented on #22
Is there a way you can get more detailed error reporting? At this point, its running on Travis (linux and OS X), its running on Appveyor (Windows 64), and its running on win-builder (Windows 32 bit and 64 bit). I resubmitted to CRAN earlier tonight.

[2016-09-06 03:14] gryang11 commented on #22
@elbamos Sorry that the error information is so limited. If it pointed out which lines of code got error, it would be much better, but unfortunately it didn't. Actually I keep struggling to find more information these days.

[2016-09-06 03:56] elbamos commented on #22
The error it reported, Error 127, usually means there's a problem with the build environment. E.g., gcc isn't installed correctly. If you try to compile it from the command line, you should get more detailed logging output. I believe there's also a build option to preserve the detailed log.

[2016-09-06 08:02] gryang11 commented on #22
@elbamos You are right. I forgot to set the environment variable after installing Rtools!
Now I install the package successfully (cranpush branch, win 7 32bit)!
I think you can submit it to CRAN.

[2016-09-07 14:28] elbamos commented on #22
The submission is pending, thanks!

[2016-09-07 14:28] #22 closed, assigned to nobody

[2016-09-08 10:36] gryang11 commented on #22
@elbamos Welcome. Thank you for sharing.

[2016-09-08 14:34] elbamos commented on #22
Hey - is it possible for you to install what's in cranfix branch and run the included tests? I submitted to cran but one of the big R people got a seg fault.

[2016-09-14 08:40] claczny opened #30 "Why is largeVis found to be slower than Rtsne?"
Hi,

first of all, thank you very much for this implementation of largeVis.
I gave it a try and it worked fine. I had to follow the instructions at http://thecoatlessprofessor.com/programming/rcpp-rcpparmadillo-and-os-x-mavericks-lgfortran-and-lquadmath-error/ for Mac OS X El Capitan to install it first, though.

The dataset that I tested is comprised of ~15k points with 512D. Running it with defa

[2016-09-14 15:35] elbamos commented on #30
The core of the speed difference is scalability. Rtsne scales in O(n log n), or a little worse. Largevis scales in O(n). The 30x multiplier was on a particular 1,000,000 point, 1024 feature dataset. The actual difference will depend on data size.

I would expect largevis to be considerably faster than rtsne on a 15k point dataset but I haven't timed it. It's definitely a lot faster when you get up

[2016-09-15 09:52] claczny commented on #30
Thank you for the quick reply.

I used the default parameters for both approaches.
This time, I attached a plot showing the different results: There are four of them as I additionally compared the possible effect an initial dimension reduction to 50D via PCA/SVD would have. Runtimes are also indicated in the plots.

The reason is very simple: I used it on a MacBook Pro w/ OS X El Capitan. It is gr

[2016-09-15 13:48] elbamos commented on #30
Thanks, I'll take a look tonight.

I run it on a Mac Pro with El Capitan all the time. There's no downside to openmp in that configuration. The code and algorithm are designed for parallelization. If you disable that, your computer is going to spend a lot of time being thread-safe without any benefit.

That said, I ran it last night on random data with your dimensionality and it was considerably s

[2016-09-19 14:05] claczny commented on #30
Update:

I tried `sgd_batches=10000`, in turn giving the attached result. I played around with a few other values of similar scale and while the speed is indeed greatly increased, the results are all meaningless in terms of the expected cluster structures, i.e., what BH-SNE would return or largeVis with the default parameters.

Looking forward to your comments.

Did you by any chance find the time

[2016-09-19 15:11] elbamos commented on #30
10,000 is way too few :p try 15000 \* K and adjust from there.  The recommendation in the paper is 10000 \* the number of edges!

I'm working on it for the next version. Right now it seems that one of the changes leading up to the cran submission is degrading performance. That said, with small datasets I would not expect it to be faster than rtsne.

[2016-09-20 20:16] yurymalkov commented on #30
Hi @elbamos. Can you explain why largeVis has O(n) complexity? As far as I have understood, it has annoy tree construction as a part of the algorithm, and annoy(as a tree with height~log(n)) has O(n*log(n)) complexity at best. So it seems a bit weird that largeVis has overall lower complexity.

[2016-09-20 21:41] elbamos commented on #30
I suggest reading the paper for that.

I had the same question when I read it. I think the answer has to do with how one evaluates the time complexity of annoy depending on what annoy parameters are held constant... but that's really beyond the scope of this issues chat :)

[2016-09-26 05:32] elbamos commented on #30
@claczny I tracked (at least a large part of) the performance issue down to a few late code changes.  The next version should run sgd around 20% faster.  Also, I've added sgd-with-momentum, which can improve performance substantially.  If you want to give it a try, I've pushed the current dev version to the /development branch on this git.

[2016-09-30 06:48] elbamos commented on #30
@claczny Will you try the release candidate in branch 0.1.10 and let me know how the speed is for you?

[2016-09-30 06:53] claczny commented on #30
@elbamos I'd be happy to. Could you please let me know how to install a package in R from a non-master branch?

TIA!

[UPDATE]

Nevermind, found it :) `devtools::install_github("elbamos/largeVis", ref = "release/0.1.10")`. Sorry, should have looked two search hits further.

[2016-09-30 08:57] claczny commented on #30
@elbamos Good news, I can support your claim of having accelerated the computation by about 20%, see the attached PDF! Great work!

I wanted to check about "sgd-with-momentum" by looking at the vignette in RStudio but got the following error message:

Not sure whether this is a problem on my side or not.

Could you maybe elaborate briefly on that feature and explain how to use it in R?

Thank you!

[2016-09-30 13:28] elbamos commented on #30
That's an installation issue. Quit R, use devtools to reinstall, quit and restart R again, it should work. The feature is easy to use, just give it a momentum parameter from 0-1.0, and tell it how many batches to use in sgd, which you can also give as a proportion 0-1.0 of the default.

[2016-09-30 13:30] claczny commented on #30
Thank you, will try it out. Any suggestions of parameter values to start with as a "good" compromise between speed-up and performance?

[2016-09-30 14:30] elbamos commented on #30
The vignette shows the results of a grid search for those hyperparameters on mnist. My feeling now is to start with momentum 0.8 or higher and for sgd batches, you can start at 0.6 and move down.

[2016-09-30 14:33] elbamos commented on #30
I really encourage you to look at the vignettes. I included detailed benchmarks and examples to visualize the effects of the hyperparameters, as well as for clustering.

[2016-10-02 03:07] elbamos commented on #30
I'm going to close this now.  Feel free to reopen if anything else comes up.

[2016-10-02 03:07] #30 closed, assigned to nobody

[2016-10-12 19:44] spamcatcher345 opened #31 "Dimensionality reduction clumps all but one point together"
Apologies for the cross-post, as this issue was reported here also:
https://github.com/lferry007/LargeVis/issues/8

Hoping to get some additional visibility.

<snip>

I have the same issue using Ubuntu 15.10. Has anyone solved this yet?

After running Largevis on my dataset, the first point is orders of magnitude larger than the remaining points after dimensionality reduction, resulting in a meani

[2016-10-13 07:17] elbamos commented on #31
I've responded in the other thread, so I'm closing this.  The issue appears to have been with your data file.  If anything else comes up, please reopen.  Thanks.

[2016-10-13 07:17] #31 closed, assigned to nobody

[2016-10-13 19:38] spamcatcher345 commented on #31
Replied on the other thread. Many thanks again.

[2016-10-14 21:33] zachmayer opened #32 "how to use hdbscan?"
I've having some trouble getting results from hdbscan.  A simple example on a small dataset would be helpful!

Thanks!

[2016-10-14 23:04] elbamos commented on #32
Can you clarify where the issue is? It's a lot easier if you have an example. I can tell you, I'm simplifying the API for the next version, so you can just give it a largeVis object.

[2016-10-14 23:21] zachmayer commented on #32
I'm just getting weird results.  I'll post some code later.

But an example of hdbscan I could just copy/paste from would probably let me figure it out.

Thanks!

Sent from my iPhone

[2016-10-14 23:22] elbamos commented on #32
Zach - if your compiler is llvm, you can try the release candidate in the branch release/0.1.10.  (It may have compilation problems on some OS's, which is why it hasn't been released yet.)

[2016-10-15 00:56] zachmayer commented on #32
Awesome!  I can probably figure that out.  Thanks!

Sent from my iPhone

[2016-11-09 07:47] rozyang opened #33 "mnist.Rda not included"
In Example 2, load("./mnist.Rda") does not work. At least the link of mnist.Rda should be given for downloading.

[2016-11-09 07:51] rozyang opened #34 "iris output is incorrect"
Using the lines in Example 1, the output gives no pattern at all. The IRIS data should be clustered.

[2016-11-09 13:36] elbamos commented on #34
Are you using the version from cran?

[2016-11-10 00:05] elbamos commented on #33
I use this package https://cran.r-project.org/web/packages/neuralnet/index.html for mnist. The reason there's no link is that if I included the package in the example I'd have to list it as a dependency under cran's rules.

[2016-11-10 00:05] #32 closed, assigned to nobody

[2016-11-14 17:47] amodig opened #35 "randomProjectionTreeSearch fails on division by zero with SparseMatrix"
Hello,

There's an error which I cannot traceback. First, I create a sparse data matrix simply
[code]

When I give the sparse matrix to `randomProjectionTreeSearch`, the R session ends with the following message:
[code]

My data set has 50k samples and 5 dimensions, so I was still able to run it without using a sparse matrix following the guideline in the vignette, but this could bring a memory is

[2016-11-14 17:53] elbamos commented on #35
Thanks for your report.

Can I ask you to do a couple of things? First, try the version that was accepted by cran today, which is the same as the last 0.1.10rc on here. Let us know if that works. Second, if you're using cosine as your distance measure, can you try with Euclidean? Third, can you post the code and dataset?

[2016-11-14 18:08] elbamos commented on #34
@rozyang Can you test the version that was uploaded to cran today?  Or from branch 0.1.10 here?

[2016-11-14 18:09] elbamos commented on #33
I've added a note about this in the new version. Going to close this issue now. Please reopen if anything else comes up.

[2016-11-14 18:09] #33 closed, assigned to nobody

[2016-11-15 06:02] elbamos commented on #34
@rozyang You haven't responded, so I'm going to close this.  Feel free to reopen.

[2016-11-15 06:02] #34 closed, assigned to nobody

[2016-11-15 14:58] amodig commented on #35
It failed also with the CRAN version. I've used Euclidean distances.

The data is here (available for a while):
https://dl.dropboxusercontent.com/u/12007410/debug/data_scaled.csv

I made a quick abridged version of my full code (including all the libraries I use).

[code]

[2016-11-15 18:11] elbamos commented on #35
Ok I'm able to reproduce this.  Thanks for reporting, I'll take a look and try to fix this weekend.

[2016-11-19 07:42] elbamos commented on #35
@Dalar I have a fix up for testing.  Its here in branch 'hotfix/sparsedivzero'.  I've tested it with your dataset and code.  Could you give it a try as well and confirm that the issue is resolved?  Thanks...

[2016-11-21 11:12] amodig commented on #35
@elbamos Yes, the code ran fine. Thanks for solving this so fast!

[2016-11-21 13:52] elbamos commented on #35
Great! Please use the one from that branch, it'll probably be a few weeks before the change is rolled into cran.

[2016-11-21 23:12] #35 closed, assigned to nobody

[2016-11-28 11:44] rozyang commented on #33
Sorry, I still cannot get it work.

R version 3.3.2 (2016-10-31) -- "Sincere Pumpkin Patch"
Copyright (C) 2016 The R Foundation for Statistical Computing
Platform: x86_64-pc-linux-gnu (64-bit)

R is free software and comes with ABSOLUTELY NO WARRANTY.
You are welcome to redistribute it under certain conditions.
Type 'license()' or 'licence()' for distribution details.

  Natural language support b

[2016-11-28 11:49] rozyang commented on #34
I guess the reason is sgd_batches = 10000 is not enough. Using sgd_batches = 1000000 or more makes it work.

[2016-11-28 13:05] elbamos commented on #33
You have to actually transform the data - the steps are not shown in the example.

[2016-11-28 13:06] elbamos commented on #34
I'm still not sure precisely what version you're running and what you tried to do?

[2016-11-28 13:48] rozyang commented on #33
Thanks. Now it works.

[2016-11-28 13:49] rozyang commented on #34
I am using largeVis_0.1.10.2 from CRAN.

[2016-11-28 14:36] avanwouwe opened #36 "randomProjectionTreeSearch gets stuck and never returns"
Apologies in advance if this is not a "bug" but just something I am doing wrong.

I have a data set of 423K rows and 225 dimensions. I am running the different largeVis steps separately to debug ("randomProjectionTreeSearch", "buildEdgeMatrix", "buildWijMatrix", "projectKNNs"). The first step runs at full speed for a couple of seconds and then settles in a mono-thread load (15% on a 4 core machine

[2016-11-28 15:20] elbamos commented on #36
There was a bug in 0.1.10 with 32-bit builds. The hotfix is version 0.1.10.2 which was accepted by cran this past weekend.  Let me know if that fixes it.  If it doesn't, please cut and paste the precise code you're running.

Thanks for reporting!

[2016-11-28 16:51] avanwouwe commented on #36
The 32 bit version of 0.10.2 currently on CRAN does not get stuck. However
I get stuck further down the road, during the "buildWijMatrix" step:

   error: SpMat::init(): requested size is too large
   Error in referenceWij(is, x@i, x@x^2, as.integer(threads), perplexity) :
     SpMat::init(): requested size is too large

.. I imagine this is due to the 32-bit restriction? When I recompile
against

[2016-11-28 18:04] elbamos commented on #36
That's odd.  Is it possible for you to share your data?

Where the 32/64-bit issue comes in is actually with allocating the matrix indices, and I wouldn't expect it to be problematic on that dataset in that function.  The issue with bits is actually not whether the OS is 32 or 64-bit, its whether ARMA_64BIT_WORD is set.  The issue is how big a sparse matrix Armadillo is willing to make.  Are you s

[2016-11-28 21:04] avanwouwe commented on #36
I can definitely share my data. It's 75 Mb compressed: mail me at
largevis@mailinator.com so we can set up an exchange?

Though I am concerned we're talking across purposes: I do not believe I am
using a sparse matrix as an input? It is in fact the result of an
inferrence of an LDA model on pieces of text, so it contains a combined
probability distribution over 225 classes. Most of the columns are

[2016-11-28 21:22] elbamos commented on #36
I've sent you an email about the data.

Given that these are unit vectors anyway, why not just use Euclidean?

[2016-11-28 21:39] avanwouwe commented on #36
perhaps I am misunderstanding, but I do not think it is a unit vector. Each
vector consis of 225 doubles, of which most are close to 0 (but not
entirely), and of which the *sum* is always 1 (since they are a combined
probability distribution, so the sum is always 100%). Or are you saying it
is a close enough approximation? I was afraid that due to the high
dimensionality Euclidean would not work o

[2016-11-28 22:11] elbamos commented on #36
I'm saying the vectors for each document sum to 1. Look at the formula for cosine distance, compare it to Euclidean, you'll see what I mean.

I'll take a look at the data tonight.

[2016-11-29 06:12] elbamos commented on #36
I took a look at your data and I'm not able to reproduce the error.  The 32- vs-64-bit build should not matter at this data size.  Peak RAM use was ~ 8 GB.

[code]

Can you try from a clean install?

P.S.: Is there a reason you're setting perplexity to 5?

[2016-11-29 06:15] elbamos commented on #36
Actually I take that slightly back -- some of the numbers in the wij matrix are so small, that if you're using a 32-bit build of R (not Armadillo, but R itself), they might underflow.  I don't know that this would cause the error you're reporting, however.

[2016-11-30 22:14] elbamos commented on #36
Can you confirm this is working so I can close the Issue?

[2016-12-01 16:39] avanwouwe commented on #36
Hi,

I installed R + Rstudio + Rtools on the machine of a colleague who didn't
have anything installed before. I compiled from master a 64bit version, and
ran the same script.

I'm afraid it is the same result; the 32 bit version from CRAN works, the
64 bit version from github serttles down after a few minutes at 15% CPU
usage and never returns.

His machine has 16 Gb, just like mine. Where do you

[2016-12-01 17:36] elbamos commented on #36
Try installing it without openmp.

Since this works on OS X and Linux, my ability to help diagnose what's either an issue in your configuration, or a Windows OS/compilation error, is limited.

[2016-12-05 18:28] elbamos commented on #36
@avanwouwe You can try the version currentyl in the /develop branch here.  The multithreading in the neighbor search was refactored, so that might help you.

[2016-12-06 13:48] avanwouwe commented on #36
Just recompiled and retried, no dice I'm afraid.

If there is a simple way to "add debugging statements" let me know and I
can have a look what is going on. If not I'll see if I can manually add
some debugging statements myself, but even though I have done C++ before,
I' have not done so before within the scope of an R module.

On Mon, Dec 5, 2016 at 7:29 PM, elbamos <notifications@github.com> wro

[2016-12-06 13:59] elbamos commented on #36
Debugging statements would have to be manual I'm afraid. Let me know if you find anything out.

[2016-12-12 15:30] yixuan opened #37 "Incorrect setting of tree_threshold in largeVis()"
According to the [documentation](https://github.com/elbamos/largeVis/blob/master/R/largeVis.R#L8), `tree_threshold` by default is the number of features of the input matrix. However, the [code](https://github.com/elbamos/largeVis/blob/master/R/largeVis.R#L63) shows that it is actually set to be the number of observations.

[2016-12-12 15:50] elbamos commented on #37
Its correct - remember that the package wants the input matrix to be transposed from the R standard, so that observations are columns and features are rows.

(The reason for this is memory -- the C++ libraries need data in column-ordered format to be efficient, and transposing would double the size needed for the dataset.  Issues like this begin to matter when the data size gets very large, which

[2016-12-12 16:32] yixuan commented on #37
Yeah, that's what I find confusing. Given the matrix layout, `nrow(x)` equals the number of features, and `ncol(x)` equals the number of observations. It seems we need `nrow(x)` here.

[2016-12-12 16:41] elbamos commented on #37
Hey you're right, thanks!  I had this correct in randomProjectionTreeSearch but not largeVis.  I've changed it now, but if you want to submit a PR with the change so you get the commit, I'll accept the PR.

[2016-12-12 16:50] yixuan commented on #37
This is just a quick fix, so I would close this issue and let you fix it later. 😄

[2016-12-12 16:50] #37 closed, assigned to nobody

[2016-12-16 16:29] elbamos commented on #36
@avanwouwe I'm going to close this for now.  The neighbor search in the develop branch has threading almost completely refactored, so if you're still getting thread lock issues, I think it may have to do with your OpenMP library.  If you're able to find anything out or make and progress please let me know, and please feel free to reopen.

[2016-12-16 16:29] #36 closed, assigned to nobody

[2017-01-12 11:38] zzzrbx opened #38 "Documentation/examples"
Hi,
could you, please, point to some examples about how to make the visualisations shown?

It'd be great to also have installation instructions for non R users.

Thank you,

[2017-01-14 02:30] ziyuang opened #39 "largeVis gives errors if the script is launched by Rscript"
Environment:
OS: Ubuntu 14.04
R: 3.3.2
[code]
[code]

[2017-01-14 02:47] elbamos commented on #39
Can you try to run the same code from inside R and see what happens? Start with a fresh session.

[2017-01-14 03:05] ziyuang commented on #39
Yes it is OK.

[code]

[2017-01-24 21:27] ziyuang commented on #39
I think the reason is that `Rscript` does not load `methods` by default but `R` does.
See http://stackoverflow.com/q/19680462/688080.
`Rscript --default-packages=stats,graphics,grDevices,utils,datasets,methods,base --vanilla test_iris.r` works normally.

[2017-02-10 07:19] chupvl opened #40 "ubuntu 64"
Hello! I have tried to install from git and from the R-lib. In both cases got following error: "Error : object ‘opticsXi’ is not exported by 'namespace:dbscan'". System: ubuntu 16.04 (64bit).
What I am missing?

[2017-02-10 09:03] elbamos commented on #40
A week ago the author of the dbscan package updated it and changed the name of the function. Thanks for letting me know. I'm surprised I didn't get a notification, I thought CRAN handled testing for this. Anyway I'll roll a fix into the next largeVis update, which is overdue anyway. For right now, I suggest using the prior version of dbscan.

[2017-02-10 12:12] chupvl commented on #40
Many thanks! waiting for the fix and will test then.

[2017-02-16 13:22] rwarnung opened #41 "Error in newest R package version"
Hi,
I get an error, when I load the package:

`> library(largeVis)`

my `sessionInfo()` is below.
When I google I find [this](http://r.789695.n4.nabble.com/Error-loading-largeVis-td4728831.html) - so somebody else has had this error too. They point to the CRAN page where this error apears too:
https://cran.r-project.org/web/checks/check_results_largeVis.html

Is there an issue with the newest vers

[2017-02-16 14:49] elbamos commented on #41
One of the packages it depends on changes the name of a function last week. I'll be putting up a fix this week.

[2017-02-23 06:02] elbamos commented on #41
@rwarnung @pablo14 try the version in my develop branch.

[2017-02-23 06:02] elbamos commented on #40
@chupvl Try the version in my develop branch, should be fixed now.

[2017-02-23 09:17] rwarnung commented on #41
@elbamos works fine for me under windows. Thank you!

[2017-02-23 09:17] #41 closed, assigned to nobody

[2017-02-23 15:55] pablo14 commented on #41
Thanks @elbamos for the following up. It's not working in mac.
Now the install.packages("largeVis") works, but when I do the library(largeVis) it throws the same error:

[code]
Here my session:

[code]

[2017-02-23 17:21] elbamos commented on #41
If you're seeing that error message are you *sure* you're using the one from the development branch?

[2017-02-23 17:54] pablo14 commented on #41
That error appears when I try to install from CRAN:
```install.packages("largeVis")```
After your last comment, I tried to instal by:
[code]

But it failed with other error.

How can I install from the dev branch you mentioned?

[2017-02-24 06:56] elbamos commented on #41
install_github("elbamos/largeVis", ref = "develop")

[2017-02-24 17:24] pablo14 commented on #41
Thanks!
Now it works, but I had one more problem:
[code]
This solves this problem: http://thecoatlessprofessor.com/programming/rcpp-rcpparmadillo-and-os-x-mavericks-lgfortran-and-lquadmath-error/

After this, I successfully tested some examples from the vignette.

[2017-02-25 00:32] elbamos commented on #41
Looks like you haven't setup your compiler properly.

[2017-02-28 16:09] pablo14 commented on #41
I wrote a post that I'm close to publish and i mention this package, I'd like to avoid the readers regarding  the error message when they do ```install.packages("largeVis")```. Do you suggest I offer them to install the package by: ```install_github("elbamos/largeVis", ref = "develop")``` instead?

[2017-02-28 16:11] elbamos commented on #41
Actually I'm prepping that as a release. I suggest installing from ref = "release/0.2", but it should be on CRAN in a few days.

Thanks, and I look forward to reading the post!

[2017-02-28 16:47] vmarkovtsev opened #42 "Import K-nn feature (external K-nn)"
Hey, the author of [kmcuda](https://github.com/src-d/kmcuda) here.

I've got very fast K-nn implementation on GPU which scales to millions by hundreds. I guess this project would benefit from it. The easiest way of integrating the stuff seems to add the ability to import K-nn assignments in largeVis API (that is, an additional function argument).

I can try to make a PR myself (in some near future

[2017-02-28 17:31] pablo14 commented on #41
Thanks for the support: http://blog.datascienceheroes.com/playing-with-dimensions-from-clustering-pca-t-sne-to-carl-sagan/

[2017-02-28 18:05] elbamos commented on #42
Sure, happy to try it out!  You can submit a PR or we can work on it together.

To get it integrated I'll need the new code, code that turns it off and on depending on whether the required hardware is present, appropriate tests, and any required modifications to the travis-ci configuration to test it.

If you really got a speed-up this way, great job!  I tried it for a few days but wasn't able to

[2017-02-28 18:17] vmarkovtsev commented on #42
Great. Actually, my plan is to avoid all this additional code, tests, build complications, etc. I suggest to add the "import" feature,  a universal solution which allows to use any Knn algorithm In the world (including kmcuda). Much like Kmeans initialization usually allows to specify the custom centroids to start with.

Is there any standard dataset I can benchmark on?

[2017-02-28 20:12] elbamos commented on #42
Well i benchmark on mnist.

But have you looked at my benchmarks page? The annoy benchmarks page? The closest thing to a standard knn benchmark dataset is sift. This is one of the reasons I think a gpu implementation is challenging - just putting the data into the gpu will consume quite a few gb of gpu ram.

I can certainly appreciate the logic behind a universal knn interface, but there are curre

[2017-02-28 20:28] vmarkovtsev commented on #42
My GPU has 12 and it is enough provided that I am running Knn on 4 in parallel :) Normally single GPU is 100x improvement over single CPU core,  though of course CPU is not following the brute force approach. At the same time since it takes like 5 mins to cluster 10M samples in 256 dimensions, Knn leverages the clusters,  typically reducing brute force work by a factor of 10 (depends on the datase

[2017-02-28 21:27] pablo14 commented on #41
Thanks for the support. The post: http://blog.datascienceheroes.com/playing-with-dimensions-from-clustering-pca-t-sne-to-carl-sagan/

[2017-02-28 22:15] elbamos commented on #42
Ok. I'm not sure I completely understand but happy to take a look at whatever you propose!

[2017-03-01 11:10] vmarkovtsev commented on #42
I have discovered https://github.com/facebookresearch/faiss today, which is the much more advanced K-nn from Facebook AI.

[2017-03-08 20:31] elbamos commented on #40
@chupvl The updated version should be on cran now -- let me know if you have any issues.  I'm going to close this for now.

[2017-03-08 20:31] #40 closed, assigned to nobody

[2017-03-08 20:32] elbamos commented on #39
Ok I'm going to close this.  Let me know if the issues aren't resolved and feel free to reopen.

[2017-03-08 20:32] #39 closed, assigned to nobody

[2017-03-29 22:12] billytcl opened #43 "BuildWijMatrix fails: invalid row or column index"
R 3.2.5; latest version of largeVis; Ubuntu 12.04

Running largeVis by itself and its step-by-step components doesn't work. I narrowed it down to the BuildWijMatrix step failing, but don't know how to proceed.

R version 3.2.5 (2016-04-14)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu precise (12.04.5 LTS)

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-

[2017-03-29 22:42] elbamos commented on #43
Well that definitely shouldn't be happening. Can you make that dataset available and I'll take a look?

[2017-03-29 22:55] billytcl commented on #43
Here's a link to the as.matrix(seurat_sw480@data). The var name is now "mat".

https://www.dropbox.com/s/g8qgps5eatc9o27/seurat_sw480_matrix.RData?dl=0

[2017-03-31 05:15] billytcl commented on #43
Hi there -- any updates?

[2017-03-31 05:48] elbamos commented on #43
It'll be a few days before I have a chance to look at it. I'll let you know.

[2017-03-31 10:00] feng-1985 opened #44 "hdbscan-non-numeric argument to binary operator"
library(largeVis)
set.seed(123)
ts_matrix_elec <- elect_data %>% scale() %>% t()
visObject <- largeVis(ts_matrix_elec, n_trees = 50,
                      K = 10)
plot(t(visObject$coords))

clusters <- hdbscan(visObject, verbose = FALSE)  # failed
Error in stats::aggregate(probs, by = list(clusters), FUN = "max")$probs -  :
  non-numeric argument to binary operator

gplot(clusters, t(visObject$coo

[2017-04-01 20:47] elbamos commented on #44
Hey can you make `elect_data` available and I'll look? thanks.

[2017-04-01 21:08] elbamos commented on #43
In your matrix, are the examples rows or columns?

`largeVis` requires that the examples be columns and the features, rows.  I then don't reproduce the issue:

![screen shot 2017-04-01 at 5 02 31 pm](https://cloud.githubusercontent.com/assets/10103420/24582408/59b92ff2-16fd-11e7-888c-f9a307767903.png)

[2017-04-01 21:25] billytcl commented on #43
The examples (cells) are columns and features (genes) are rows. I think
there may be a memory issue because I got it to work when only using 500
columns instead of the full 1691. Is there any way to reduce usage more
than what the tutorial recommends?

On Sat, Apr 1, 2017 at 5:08 PM elbamos <notifications@github.com> wrote:

[2017-04-01 21:28] elbamos commented on #43
Its not a memory issue.

So are there 15,000 examples and 1600 features, or 15,000 features and 1600 examples?

[2017-04-01 23:40] billytcl commented on #43
Hi, there are 15,000 features and 1600 examples.

Billy

On Sat, Apr 1, 2017 at 5:28 PM elbamos <notifications@github.com> wrote:

[2017-04-02 00:35] elbamos commented on #43
Ah. I think I may know what's going on. I'll check this weekend.

[2017-04-02 13:50] feng-1985 commented on #44
Thank you! and how to make the data avaliable for you?

[2017-04-03 07:34] elbamos commented on #43
@billytcl I think I've tracked this down.  Thank you for posting it!  It seems to be a subtle bug that creeped in late in the last update.  It will take a few days to get a working fix.   I will let you know.

Anyway, your data looks like this:

![screen shot 2017-04-03 at 3 33 39 am](https://cloud.githubusercontent.com/assets/10103420/24599484/6449f5c4-181e-11e7-942e-fed7fe0a9337.png)

[2017-04-04 05:10] elbamos commented on #43
@billytcl Try the version in branch `hotfix/twobugs`

[2017-04-04 21:00] billytcl commented on #43
Thanks!! Will give it a shot.

[2017-04-04 21:28] billytcl commented on #43
Looks like it's working! Thanks!!

[2017-04-04 21:49] elbamos commented on #44
If you could Dropbox it to me today, I'm planning a bug fix update soon.

[2017-04-04 21:53] elbamos commented on #43
Cool!

Btw, with datasets like the one you sent me, i think you'll be a lot happier if you convert the data to a sparse matrix. If you do that, then it'll scale to very, very, very large datasets before you hit a memory issue.

[2017-04-05 02:02] feng-1985 commented on #44
https://www.dropbox.com/s/0v41q45yvn9ahzh/test_gm_data.csv?dl=0
I upload the data to Dropbox, thank you!

It's time series from January 2012 to December 2015 monthly data, there are 11524 individuals, i want to cluster these individuals based on the time dimension.

[2017-04-05 02:29] elbamos commented on #44
I can't reproduce it.  Can you try the version currently in branch `hotfix/twobugs` and confirm if the issue is now resolved?

[code]

[2017-04-05 04:06] feng-1985 commented on #44
![image](https://cloud.githubusercontent.com/assets/8215563/24689305/2e24a512-19f8-11e7-803a-d458de16532e.png)

![image](https://cloud.githubusercontent.com/assets/8215563/24689417/fbaaa73e-19f8-11e7-921c-cc93051bfe50.png)

how to use that version?

[2017-04-05 04:15] elbamos commented on #44
`devtools::install_github("elbamos/largeVis", ref = "hotfix/twobugs")`

[2017-04-05 06:21] feng-1985 commented on #44
![image](https://cloud.githubusercontent.com/assets/8215563/24692321/fc30c0b4-1a0a-11e7-9912-3f09aa212a30.png)

too slow, is there any faster download method?

[2017-04-05 06:21] elbamos commented on #44
No.  It takes a fraction of a second from here.  

On April 5, 2017 at 2:21:12 AM, hu bifeng (notifications@github.com) wrote:

too slow, is there any faster download method?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-06 01:30] feng-1985 commented on #44
Yes, it works!

But why there is "NA" in the plot? I can't upload this image, did you see that in you plot?

[2017-04-06 01:35] bifeng commented on #44
![Uploading image.png…]()

[2017-04-06 02:08] elbamos commented on #44
Yes.  Points will have cluster `NA` if the algorithm does not put them in a cluster.  You can review the documentation on the algorithm for detail if you'd like.

I'm going to close this now - feel free to reopen if anything comes up.

[2017-04-06 02:08] #44 closed, assigned to nobody

[2017-04-06 03:10] feng-1985 commented on #44
Thank you!

[2017-04-15 05:07] elbamos commented on #44
@bifeng There was a bug in the version of largeVis that you tested a week ago.  The bug caused the `hdbscan` algorithm to fail to combine clusters that should be combined.  If you try the version that I've just pushed, it should produce better results on your dataset.

[2017-04-21 12:56] NagaComBio opened #45 "caught segfault : 'memory not mapped'"
Got the following segfault error with largeVis, as the 'bench' branch was not available, have recompiled from github/master without OpenMP as suggested in [here](https://github.com/elbamos/largeVis/issues/8).

For compiling without OpenMP I made the Makevars file as follows,

[code]
and compiled as
[code]
The error message :
[code]
Maybe I didn't compile it properly since the error still occurs in

[2017-04-21 15:02] elbamos commented on #45
Can you share the dataset and your system configuration?

[2017-04-21 16:17] NagaComBio commented on #45
Here is sample random data, it crashed for this data. But ran perfectly for the original data in Mac OS, but replicating it in Linux got into the issue.

[code]

[code]

[2017-04-21 17:01] elbamos commented on #45
No, I'm asking for the actual data that fails, not for code to generate data that might fail. I'm also not sure what the second line of that code is intended to do. Also the description of your system needs to include, e.g., os and r version, etc.  also I'm not sure what version of largeVis you were even using - your post refers to a version from more than a year ago.

[2017-04-24 09:18] NagaComBio commented on #45
Ok, I have tested the sample data before posting it here and mentioned it also failed, here is the [original data set](https://github.com/elbamos/largeVis/files/951054/dat.small.txt). And the R session info.

[code]

[2017-05-01 14:06] idroz commented on #45
Encountered a similar issue on ubuntu trusty:

[code]

Tested with and without OpenMP flag - error still persists. Seems to be Linux-specific as works perfectly fine on a mac.

And sessionInfo():

[code]

[2017-05-01 15:06] elbamos commented on #45
@idroz Thanks for that.  Could I ask you for a couple of small things?

First is, can you try with R 3.3 on the same system and see if you see the error?

Second is, can you try with the branch that's up here as `release/0.2.1`?

R 3.4 has changed a bunch of things in how packages with C++ code need to integrate with R, and its really complicated testing for release.

[2017-05-01 16:55] idroz commented on #45
Thanks for that. Tried with R 3.3.1 and `release/0.2.1` as well as `master` branch, unfortunately segfault persists. Will try to play around with Makevars to see if any flags might be contributing to this issue.

[2017-05-01 17:27] elbamos commented on #45
Thanks, @idroz, working on it, appreciate your reporting.

[2017-05-01 17:34] elbamos commented on #45
I'm able to reproduce.  I'll try to push an update out soon.  It probably is tied to a compiler setting; if you make any progress on that front let me know.

[2017-05-02 07:01] elbamos commented on #45
Very strange... I can reproduce this on my AWS box but not on my linux box at home, both running 16.04.

[2017-05-02 12:38] idroz commented on #45
I managed to get it to work on my 14.04 box. I had to upgrade gcc/g++/gfortran to version 5 and recompile the package. Had versions 4.9 running before that. @elbamos, wonder if you have a similar situation on your AWS box vs home linux?

My /etc/R/Makeconf file had the following changes made to it:

[code]

If you want to change default gcc and g++ to version 5, do:

`sudo update-alternatives --in

[2017-05-02 14:42] elbamos commented on #45
It would not be shocking if the problem is old gcc since I make a lot of use of c++11. But it definitely worked in that configuration recently. Are you seeing test failures in any configuration?

[2017-05-02 15:27] gemcavoy opened #47 "as.dendogram.hbscan not found"
When running this example and others, R can't find the as. dendogram.hdbscan

Error in plot(as_dendrogram_hdbscan(hdbscanobj)) :
  could not find function "as_dendrogram_hdbscan"

[2017-05-02 15:30] elbamos commented on #47
Thanks for reporting - its an error in the example. It's as.dendrogram.hdbscan instead of as_dendrogram_hdbscan.

[2017-05-02 16:24] gemcavoy commented on #47
Thanks very much for your reply.

I actually tried it that way as well before I raised the issue and got the
same error. Tried it again just to confirm and still got the error.

data(iris)
vis <- largeVis(t(iris[,1:4]), K = 20, sgd_batches = 1)
hdbscanobj <- hdbscan(vis, minPts = 10, K = 5)
plot(as.dendrogram.hdbscan(hdbscanobj))

On Tue, May 2, 2017 at 11:30 AM, elbamos <notifications@github.com>

[2017-05-02 16:28] gemcavoy commented on #47
Here's the session info if that's of use:

R version 3.4.0 (2017-04-21)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.4

Matrix products: default
BLAS:
/System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK:
/Library/Frameworks/R.framework/Versions/3.4/Resources/lib/libRlapack.dylib

locale:
[1] en_US.

[2017-05-02 16:31] elbamos commented on #47
Because you should only have to call as.dendrogram -- it's an s3 function. That's why I changed it.

[2017-05-03 11:58] idroz commented on #45
Not seeing any test failures. Works perfectly fine from a fresh CRAN install on Ubuntu 16.04 with default gcc/g++ version 5.4.0.

[2017-05-03 15:39] elbamos commented on #45
Yeah I'm real suspicious of gcc right now. Can you confirm what version was generating the crash?

I've had a lot of issues with gcc because the support for c++11 was really incomplete for a long time. I thought that was all fixed by 4.9 though, and I think 4.9 is still common enough I'm going to have to support it.

[2017-05-03 22:38] elbamos commented on #47
@gemcavoy Can you confirm you're able to use it now?

[2017-05-03 22:39] elbamos commented on #45
@idroz I'm was able to reproduce this on my aws box once but, no longer.  Are you able to isolate the issue to gcc 4.9?

[2017-05-04 01:08] gemcavoy commented on #47
I was able to use it like this:
plot(as.dendrogram(hdbscanobj))

Also, just FYI.  I had to modify the example below (from the manual) to
transpose "dat" in order to get it to work (as your instructions suggest),
but the example in the manual doesn't use transpose.  Runs great with that
change.

library(largeVis)
# The aggregation dataset can be downloaded from
https://github.com/elbamos/clustering

[2017-05-04 01:21] elbamos commented on #47
Yeah I totally failed to update the example. Sorry!

[2017-05-04 07:40] idroz commented on #45
I'm getting consistent 'memory not mapped' with gcc/g++ 4.8.4.

≥4.9 is OK.

[2017-05-04 13:21] elbamos commented on #45
I expect it to fail on 4.8. Do we know what compiler was in use when you got the segfaults?

[2017-05-04 13:28] idroz commented on #45
It was g++

[2017-05-04 13:36] elbamos commented on #45
But which version?

[2017-05-04 13:37] idroz commented on #45
4.8.4

[2017-05-04 13:40] elbamos commented on #45
That's the one generating the segfaults? Not with anything later than that?

4.8 has a bug in its C++11 implementation I can't work around.

[2017-05-04 13:44] idroz commented on #45
Yup - that's the one. 4.9 and 5 are fine. Haven't tested on 6 and up.

[2017-05-04 15:13] elbamos commented on #45
@NagaComBio Can you confirm that you were compiling with gcc before 4.8 also?

[2017-05-04 15:38] NagaComBio commented on #45
@elbamos No, my default version is ```gcc (SUSE Linux) 4.8.1 20130909```.  And I just recompiled largeVis/master with ```gcc (GCC) 6.2.0``` and it worked without the segmentation fault.

[2017-05-04 18:33] elbamos commented on #45
Ok - I think the solution here is to throw an error if the user tries to compile with gcc < 4.9. This is an issue in 4.8's implementation of c++11, in the handling of lambdas I believe, and I really don't want to change that part of the code.

How do you guys feel about it?

[2017-05-04 19:06] idroz commented on #45
@elbamos - sounds like a good way around the issue. Thanks a lot for looking into it.

[2017-05-04 19:57] NagaComBio commented on #45
I agree as well. Thank you @elbamos @idroz.

[2017-05-05 02:48] elbamos commented on #45
Thanks guys!

I have a version up in the develop branch. It should fail to compile on gcc < 4.9 but work fine for you otherwise.  If you want to give it a try, I'll close this issue.

[2017-05-05 09:07] NagaComBio commented on #45
Just tested the 'develop' branch with gcc < 4.9 and got the error message and the same version worked fine for the gcc 6.2.0. Cheers.

[code]

[2017-05-05 17:49] idroz commented on #45
Works great 👍

[2017-05-05 18:39] #45 closed, assigned to nobody

[2017-05-12 16:27] elbamos commented on #47
fixed in 0.2.1 - please reopen if I'm mistaken, and thank you for the report!

[2017-05-12 16:27] #47 closed, assigned to nobody

[2017-05-12 16:27] elbamos commented on #43
I'm going to close this now.  Please let me know if anything else comes up, and thank you for the report!

[2017-05-12 16:27] #43 closed, assigned to nobody

[2017-05-12 16:29] elbamos commented on #38
I'm assuming this is resolved. If not, please reopen.

[2017-05-12 16:29] #38 closed, assigned to nobody

[2017-05-23 16:39] meowcat opened #50 "Implement hook for custom distance methods?"
Hi,

from what I can read in the code, implementing a new distance metric for use in searchTrees is only a matter of
1) providing a DenseAnnoySearch implementation
2) providing a corresponding distance function.

(This at least if I do not care about working with sparse matrices. I would have to study sparse matrices better to understand that.)

I have an application where I need a custom, very sp

[2017-05-23 16:48] elbamos commented on #50
Your interpretation is correct. Actually you should also implement a SparseAnnoySearch.

I don't have the bandwidth to write the plugin code, but I would definitely encourage a PR to add that functionality.

(Or, it's pretty easy to just take the code and make a version of the package with your distance function for your own use.)

[2017-06-29 21:01] clin045 commented on #44
I am also encountering the same problem.

[code]

[2017-06-29 21:05] elbamos commented on #44
Can you make your data available to me and I'll take a look tonight? I was sure I fixed this.

[2017-06-29 21:08] clin045 commented on #44
I'd rather not publicly post the data. Can I email it to you?

[2017-06-29 21:54] elbamos commented on #44
Sure or email me a Dropbox link. My email is in the git

[2017-06-30 17:13] elbamos commented on #44
I couldn't reproduce it.  Are you *sure* you're using a current version?

![screen shot 2017-06-30 at 1 12 48 pm](https://user-images.githubusercontent.com/10103420/27746633-f52e8660-5d95-11e7-9e88-549a6c2d0800.png)
![screen shot 2017-06-30 at 1 12 57 pm](https://user-images.githubusercontent.com/10103420/27746638-f865c62c-5d95-11e7-9047-65235473635c.png)

[2017-06-30 18:05] clin045 commented on #44
I installed it with

[code]

Is this correct?

[2017-06-30 18:57] elbamos commented on #44
No - the hotfix was rolled in ages ago. Just install from master. Leave out the "ref" parameter.

[2017-07-05 20:14] clin045 commented on #44
I've reinstalled from master and it's still throwing the same error.

[code]

[2017-07-05 20:36] elbamos commented on #44
That's very odd. Can you send me the log or a screenshot of a complete session? Start from an empty environment, load largeVis, check the version, and try the commands in just the way I did them?

[2017-07-07 18:50] clin045 commented on #44
[code]

[2017-07-07 22:30] elbamos commented on #44
Thanks, I was able to reproduce this. 

The error is coming up because hdbscan can’t cluster this data.  

This is because it has a huge number of duplicate points in it. 

When the number of duplicates grows, then both largeVis and hdbscan become undefined since they depend on finding each point’s n-nearest neighbors. 

You can try to force a clustering by adjusting minPts and K (down).  But real

[2017-07-14 15:54] meowcat opened #51 "testcfunctions.cpp fails (Win)... what is it supposed to do?"
On a github clone with R-3.4.1, the tests from testcfunctions.cpp fail:

[code]
and above:

[code]
etc. But I don't really get what these tests are supposed to test? Looks like you are setting up the RNG with a seed and expect a certain output?

Is this expected to fail on Windows possibly?

[2017-07-14 16:14] elbamos commented on #51
That is testing the implementation of the alias algorithm, which is used to efficiently draw from a weighted distribution. It is not expected to fail, and should not unless your compiler or implementation of the C++ standard library is funky.

Can you try varying versions of R and your compiler and see what happens? I don't have a windows machine to test on.

[2017-07-18 08:44] meowcat commented on #51
Seems not to be Windows related. I installed the package from CRAN on my Linux VM and get the same error.

[code]

[2017-07-18 08:47] meowcat commented on #51
Windows, R 3.4.0, installed from CRAN binary (not compiled myself AFAIK)

[code]

[2017-07-18 08:54] meowcat commented on #51
Windows, some devel version from Feb 2016 (sic!)
largeVis from CRAN, compiled while R 3.3.3 was up-to-date
Same error

[code]

[2017-07-18 14:39] elbamos commented on #51
Do you see the same thing with 3.4?

[2017-07-18 16:48] elbamos commented on #51
And what compiler are you using?

I mean, I have oodles of windows and Linux users, and I test each release on both platforms. The function that's failing is some very generic C++, in files that haven't changed in a year. So, either there's something very funky in your setup, or something has recently changed in a component that largevis relies on to compile.

[2017-07-19 07:38] meowcat commented on #51
I have no quick way to put R3.4.0 on Linux, but I have the error in

- R 3.4.1 on Linux (Ubuntu 17.04 repository R with the current gcc etc)
- R 3.4.0 on Windows with gcc 4.9.3 (current Rtools)
- R 3.3 devel on Windows with the CRAN largeVis build from a year ago (sic! Not built by myself)

So this is absolutely vanilla setups (except for the last one) which never cause problems otherwise.

This i

[2017-07-19 07:42] elbamos commented on #51
The reason I expect the output Is that the script sets the random generator seed before it runs those tests. What compilers are you using? Can you try using llvm (it may link a different version of the stdlib.)

[2017-07-19 07:58] meowcat commented on #51
I don't know how to set up R on Windows or Linux with llvm as a compiler; that would probably take me a day of work. I just tried setting up largeVis on a Windows machine with an old toolchain (R 3.2 with gcc 4.6.3) and it is incompatible (which I guess is intended):

[code]

[2017-07-19 08:04] meowcat commented on #51
Again, my compilers are:
gcc 4.9.3 from Rtools on Windows (https://cran.r-project.org/bin/windows/Rtools/)
gcc 6.3.0 on Ubuntu 17.04

[2017-07-24 20:48] elbamos commented on #51
Hmmm.... Is it possible for you to send me the complete output of a session where you start from a new, empty R session without largeVis installed, compile the package from current Master and get this result?

Thank you for reporting, its really very odd.

[2017-07-25 09:57] meowcat commented on #51
On Windows or on Linux?

[2017-07-25 16:41] elbamos commented on #51
Let's try Linux.

[2017-09-11 16:56] dchiu911 commented on #51
Hello,
I recently tried to use `largeVis` in my own package, but the Travis build failed at the same place. Here is a complete session of the build, hope it helps
https://travis-ci.org/AlineTalhouk/diceR/jobs/273500644

[2017-09-11 17:14] elbamos commented on #51
It doesn't appear that your build script attempted to load largeVis, but just declared it in imports. Seems to be an issue in how you've configured Travis.

[2017-09-11 18:01] dchiu911 commented on #51
Do you have any insights on how I may solve this problem? I tried adding
[code]
to no avail. Thanks!

I'll try adding
[code]
first.

[2017-09-11 18:55] elbamos commented on #51
Look in the guidance for the Travis R system. You can look in the Travis yaml in this repo for an example but I'm sure it's far more complex than you need.

[2017-09-12 23:46] dchiu911 commented on #51
After some tedious explorations, I've pinpointed the important parts of the `.travis.yml` that are needed for `largeVis` incorporation in another package for anyone else interested:
[code]

[2018-02-26 02:03] Xiaojieqiu opened #52 "issue on dealing with sparseMatrix?"
Hi Amos,

Thanks for this nice package for largeVis integration. I tried to test whether we can run sparsematrix with this package. However, I found that the following issue:

[code]

[code]

I tried either the newest CRAN version and the github version, both having the same issue above.
Any thoughts?

In addition, have you test your package on the `3 million word vectors from the GoogleNews
datas

[2018-02-27 22:32] elbamos commented on #52
Thanks!

It appears to me that your sparse matrix isn't actually sparse, and may not be well-formed.  It's being given a class of `ddenseMatrix`.  Possibly `Matrix` is doing that because `i` and `j` aren't in order? I don't know.

If you want to get back to me, I intend to take a look at various things in the package this weekend.  Its overdue for an update.

I haven't run `largeVis` on 3 million

[2018-02-27 22:33] elbamos commented on #51
Thanks!

[2018-02-27 22:33] #51 closed, assigned to nobody

[2018-02-27 22:33] #50 closed, assigned to nobody

[2018-02-27 22:34] #42 closed, assigned to nobody

[2018-02-28 18:06] Xiaojieqiu commented on #52
Hi Amos,

Thanks for your reply, especially to your detailed description on the running and memory requirement of this method!
regarding to your comments of `ddenseMatrix `. that is interesting, I find the `largeDataset` object in my hand is a sparse matrix and its class attribute is `dgTMatrix`.

[code]
Would you mind to offer me an example on running sparseMatrix with largeVis in your hand?

Tha

[2018-02-28 20:18] elbamos commented on #52
Sure

[code]

[2018-02-28 20:19] elbamos commented on #52
So I guess you were making a triplet matrix.  I only implemented functions for handling CSC sparse matrices.  Let me know if there's a strong need for supporting triplets.  One issue is that triplet matrices can contain duplicate entries...

[2018-03-27 20:32] akhst7 opened #53 "Overcoming p_{j|i} over flow"
I have a following data;

Classes ‘data.table’ and 'data.frame':	20000 obs. of  14 variables:
 $ SSC-A       : num  134 123 169 122 133 ...
 $ CD43        : num  115.8 102.8 82.9 94.3 108 ...
 $ DEX         : num  31.2 50.2 36.8 40 26.7 ...
 $ CD28        : num  106.6 112.7 71.5 73.3 93.4 ...
 $ CD45RA      : num  95.4 28.4 39.9 90.7 61.5 ...
 $ CD27        : num  66.4 177.8 83.4 75.1 68.9 ...
 $

[2018-03-27 20:38] elbamos commented on #53
The warning indicates that a workaround was applied. Part of the algorithm requires exponentiating the distances. If it appears that this will overflow, the implementation scales all the distances before exponentiating them.

You can try scaling your distances (perhaps divide every coordinate by 100?) before running the algorithm and see if the result is preferable.

[2018-04-19 23:52] Asduveneck opened #54 ""largeVis is incompatible with gcc < 4.9""
I'm trying to run largeVis on R 3.4.1 when I encounter the above error. Do you happen to have an older version that is compatible with gcc < 4.9? I wish I could update the compiler, but it's from the company's network/grid-computer so I don't trust myself modifying that.

sessionInfo:
R version 3.4.1 (2017-06-30)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux Server

[2018-04-19 23:55] elbamos commented on #54
No, I’m sorry, it’s impossible - the code relies heavily on C++11.

[2018-04-20 15:09] Asduveneck commented on #54
I understand. Thank you for getting back to me!

[2018-04-20 15:09] #54 closed, assigned to nobody

[2018-05-04 23:38] ghost opened #55 "largeVis function's "threads" argument gives no control over number of threads"
Apparently, at least for Windows, the _threads_ argument of the _largeVis_ operates the same way no matter to what it is set.  On my 4 core desktop, it always grabs all 4 cores to run, at least for a document-term matrix with 373 rows and 18000+ columns.  I am running with 50 GB of memory available to R.

[2018-05-04 23:52] ghost commented on #55
I managed to get it to pay attention to threads=2 just fine.

[2018-05-04 23:52] #55 closed, assigned to nobody

[2018-05-05 00:13] elbamos commented on #55
Let me know if the results worked well for you.

[2018-05-10 01:28] akhst7 opened #56 "LargeVis vs tSNE clustering"
I have this data frame of 20,000 options with 14 distinct parameters.  A standard Rtsne generates relatively well distributed and balanced clusters as follows;
![rplot](https://user-images.githubusercontent.com/3075799/39847216-637ffe26-53ce-11e8-9beb-336ff518845b.png)

However, I have been struggling to generate the similar plot.  I've been playing with K and n_tree but have not quite get the plo

[2018-05-10 01:45] elbamos commented on #56
That looks to me like a plot of an hdbscan clustering, possibly over a largevis dimensionality reduction.

If so, I’m not sure what the objection is to the largevis plot. Is it that there’s a bunch of biggish clusters rather than a larger number of smaller ones? If so you could try reducing K. You might also consider scaling the data.

If you were looking for a particular result, you might add dim

[2018-06-03 01:05] jlmelville opened #57 "searchReverse not correctly finding mutual nearest neighbors"
Hi. First of all, thank you for your work on the package.

In `edgeweights.cpp`, I think the `searchReverse` routine is supposed to find mutual nearest neighbors found during the nearest neighbors routine. Later in the `run` method, non-mutual nearest neighbors are created with an `edge_weight` of 0 so that the `wij` matrix is symmetrized correctly.

I've found that in most cases, `searchReverse`

[2018-06-03 02:18] elbamos commented on #57
You may be right. When I implemented the wij functionality from scratch, it didn’t match the wij’s generated by the reference implementation. In going through the ref implementation code, I was never able to figure out why it would produce the math described in the paper. I ultimately ended up using that part of the reference implementation code with very few modifications, because I felt it was b

[2018-06-03 06:35] jlmelville commented on #57
FWIW, this seems to have been a bug in the reference implementation:
https://github.com/lferry007/LargeVis/commit/919af30bd2d400c822262c348e9c014729b3f446#diff-f7a8edb67de3c04e1ec98f8469655da7

I will get back to you on the effect on the visualization of the change, although the largest datasets I will check will be MNIST and Fashion-MNIST.

[2018-06-03 17:00] jlmelville commented on #57
Actually, seems like this is a bit of a non-issue: in all cases I looked at, the `wij` matrices are identical. Probably the worst that happens is that `edge_weights` are repeatedly averaged and the `locations` matrix used to initialize `wij` is unnecessarily large, but neither has an overall effect, except a potential increase in runtime and RAM usage during `buildWijMatrix`, but I've not measured

[2018-06-03 17:00] #57 closed, assigned to nobody

[2018-06-20 14:47] gdkrmr opened #58 "largeVis not on CRAN any more"
https://cran.r-project.org/web/packages/largeVis/

[2019-05-02 11:06] meowcat commented on #58
Yes, very unfortunate!

[2019-05-03 17:41] elbamos commented on #58
Guys you can install pretty easily directly from github.  That's actually better, because you'll get it optimized for your system.

The reason its not on CRAN any longer is that the CRAN build and test system includes an old, commercial C++ compiler for the Solaris platform that has bugs related to C++11 and OpenMP.  I can't debug the compilation problem without that compiler, which is not freely

[2019-05-03 19:53] gdkrmr commented on #58
have you explained the problem to the cran maintainers? I don't think they will take down your package if you can't do anything about it.

[2019-05-03 21:20] elbamos commented on #58
No. To be frank what happened is this: the issue came up during the initial submissions, and it was resolved. Then a different maintainer in reviewing the package later removed it. I didn’t see the removal notification until a while after that. At the time, I was planning an update to the package and I figured I’d resolve it then. But I then put the update aside.

Is it really a big deal whether i

[2019-05-04 10:18] gdkrmr commented on #58
It's up to you if you want to deal with this but being on CRAN will give the package greater visibility. If I am looking for a package to do a certain task, the first thing I usually do is a text search on the CRAN page that lists all the packages.

[2019-05-04 10:29] meowcat commented on #58
The issue is rather dependencies, as I can't put any packages on Bioconductor or CRAN that depend on github largeVis. For example, I was working for a while on a package for custom distance metrics for largeVis (I have given up, it's probably impossible because Rcpp linking across packages / header / etc issues). It would possibly be feasible as a pull request *in* largeVis, but if the package can

[2019-05-04 19:39] gdkrmr commented on #58
I also wanted to include this as a method in https://github.com/gdkrmr/dimRed,

[2019-07-01 19:27] #53 closed, assigned to nobody

[2020-05-25 02:55] evanbiederstedt commented on #58
This is unfortunate, precisely because largeVis could easily be added as a dependency to other CRAN or Bioconductor packages if it was on CRAN.

Perhaps there's a resolution with the CRAN maintainers?

It feels like a shame the package is no longer available due to a rather small issue.

[2020-05-25 04:08] elbamos commented on #58
Alright... I’ll give it a shot this week guys.

[2020-06-03 00:14] evanbiederstedt commented on #58
BTW, I'm happy to help out on this front, if it's useful.

[2020-06-03 04:12] elbamos commented on #58
If anyone has a solaris machine, that would be helpful. The issue that arose was a problem during compilation with the commercial Solaris compiler. The package makes extensive use of C++11 and OpenMP, so I've always thought the problem was a bug in that compiler, which I couldn't diagnose because it was commercial.

Anyway, what I need to do at this point is to check how the submission requirement

[2020-06-03 04:44] evanbiederstedt commented on #58
I was thinking Docker images may help us here, but I'm not convinced that's available.

~I'm surprised they don't use a different compiler, like a newer g++ or clang.~
Update: https://blog.r-hub.io/2020/05/14/checking-your-r-package-on-solaris/#crans-solaris-builder

[code]

[2020-06-08 04:54] elbamos commented on #58
Ok I'm getting into this now.  If you're still interested in helping, let me know. It looks like the principal thing I need to do is learn what improvements have been made in the R CI testing world (e.g., rhub) since the last time I played with this, and to disentangle any remaining relationship with the `dbscan` package.  I've made a backoncran branch to facilitate the work, which is currently em

[2020-06-08 15:59] evanbiederstedt commented on #58
@elbamos I'm interested---especially as I'm interested in seeing what the cause of the issue was. I'm dealing with this on other fronts.

[2020-06-08 22:12] elbamos commented on #58
@evanbiederstedt If you want to look at the travis configuration, that would be helpful. I can take care of the solaris issue.  (If you have a windows machine, I've never tried to get it to compile on Windows, because of the C++11 and OpenMP dependencies. Taking a look at that would also be helpful.) Thanks for nudging me to get back to this.

[2020-06-08 22:32] SamGG commented on #58
Hi,
Windows10x64 R4.0.0
[code]

[2020-06-08 22:39] elbamos commented on #58
Hi @SamGG thanks!  I will ask you to try it again when we get closer to a release.

[2020-06-08 22:40] SamGG commented on #58
My pleasure :-)

[2020-06-08 23:02] elbamos commented on #58
I'm considering dropping DBSCAN and OPTICS from the package. The only advantage to this over the implementations in the dbscan package, is that it takes advantage of the fast nearest neighbor search.

And it really complicates things, because they link against the dbscan package.

Does anyone think that there are any users of my dbscan or optics implementations?

[2020-06-09 00:38] evanbiederstedt commented on #58
Hi @elbamos

Thanks again for taking the time to look into this---I'm interested in finding out what's going on.

Sure, I'll make a PR :)

[2020-06-09 12:03] SamGG commented on #58
Concerning DBSCAN and Co, I think you did great improvements that are worth keeping. If you really want to externalize these codes, either propose a PR to the dbscan package, either start another package. That would be a pity if that code would not be easily usable. Data are growing and fast approaches are needed.

[2020-06-10 05:09] elbamos commented on #58
I may have fixed the Solaris issue in part or in whole. However, for whatever reason calls to rhub::check_on_solaris() are no longer returning.  If anyone else is able to check whether the package now compiles on Solaris, I'd appreciate it. (And if it doesn't, please attach the log here.)

(The issue may have been that the Solaris build is 32-bit, and the package was not portable to 32-bit systems

[2020-06-12 06:18] elbamos commented on #58
Ok I think I have this worked-out now.  Would you folks mind giving a try to the version currently in the `/feature/backoncran` branch?  In particular, let me know if you seen any performance impacts.

[2020-07-09 02:41] evanbiederstedt commented on #58
Hi @elbamos

Sorry---I got a bit distracted by life.

I was able to install this directly on Mac OS 10.15.5 with OpenMP configured, using `/usr/local/opt/llvm/bin/clang++ -fopenmp -std=gnu++11 `

I've been going through the vignettes, where I had no problems. I'm trying the following "larger example" from the vignettes, where `projectKNNs()` appears to be taking some time. Do you have a sense how

[2020-08-03 20:30] Shawnmhy opened #60 "Install largeVis from Github met errors"
Hi, I was trying to install largeVis package using R function 'install_github()' with the error message:
Can anyone help me solve this?
`In file included from RcppExports.cpp:4:
In file included from /Library/Frameworks/R.framework/Versions/3.5/Resources/library/RcppArmadillo/include/RcppArmadillo.h:31:
In file included from /Library/Frameworks/R.framework/Versions/3.5/Resources/library/RcppArmadi

[2020-08-03 20:44] elbamos commented on #60
Try installing from the feature/backoncran branch. If you still have problems let me know what compiler you’re using and what’s in your makeconf

[2020-08-03 20:51] Shawnmhy commented on #60
Thank you so much for your reply. Sorry to ask the dummy question: how to actually install this specific branch on Mac?

[2020-08-03 20:58] elbamos commented on #60
I’m sorry for being short but I’m on mobile now - check the exact branch name on the GitHub page and then ?install_github

[2020-08-03 21:03] Shawnmhy commented on #60
Thank you. I tried to installing the specific branch you mentioned but still failed. I am using Rstudio but am not sure how to check the 'makeconf'. Previously I successfully installed largeVis on my mac, but few days ago I updated my OS (10.15.6 right now) and the package failed to be loaded with the error message:

 unable to load shared object '/Library/Frameworks/R.framework/Versions/3.5/Resou

[2020-08-03 23:06] elbamos commented on #60
I think I get what’s going on. The error you posted below just means the build failed. The error you posted earlier means the compiler couldn’t find one of the standard c++ headers. I’ve seen this occur when the OS X tool chain isn’t properly installed.

I’m going to propose the following hypothesis: when you upgraded OS X, the matching version of Xcode or it’s command line tools changed but you h

[2020-08-04 01:52] Shawnmhy commented on #60
Thank you. I tried the first approach. I updated the Xcode but it not worked. Then I try to re-install the Rcpp and an error occurred:

#include_next <math.h>
              ^~~~~~~~
1 error generated.
make: *** [api.o] Error 1
ERROR: compilation failed for package ‘Rcpp’
* removing ‘/Library/Frameworks/R.framework/Versions/3.5/Resources/library/Rcpp’
* restoring previous ‘/Library/Frameworks/R.fra

[2020-08-04 02:49] elbamos commented on #60
Did you try reinstalling the Xcode command line tools?

<math.h> is a system header. That’s what the <> means. It’s supposed to be provided by the operating system or the compiler.

Are you able to compile other R packages?

If reinstalling the command line tools and rebuilding R packages doesn’t work, I can try to walk you through switching to llvm, but that’ll then hit the limits of my understan

[2020-08-04 03:19] Shawnmhy commented on #60
Yes, I reinstall the Xcode command line tools but it's still failed. I think I need to consider the alternative approach, could you please give me some guidance on switching to llvm?

[2021-03-08 15:47] jsaintvanne opened #61 "Error when installing largeVis on Ubunutu"
Hi,
I have this error when I try to install your package like this `install_github("elbamos/largeVis")` :

[code]

[2021-03-08 15:56] elbamos commented on #61
Thanks, Julien. I’m working on a new version. Can you try installing from the develop branch and see if you still have the problem? Thanks.

[2021-03-08 16:23] jsaintvanne commented on #61
It may be a bad question but how can I install from an other branch if you know that pliz ?
I found something to install from a release but not from a specific branch. I will test it immediatly when I have the right commandline.

Thanks for your fast answer and good luck for your work

[2021-03-08 16:28] jsaintvanne commented on #61
Ho just find the following command `install_github("elbamos/largeVis@develop")`

[2021-03-08 16:30] jsaintvanne commented on #61
I obtain this error with develop branch
[code]

Thanks for your help

**EDIT**

It works when I install it from backoncran branch... Can I use it ?

[2021-03-08 16:52] elbamos commented on #61
Hmm....   that’s really unexpected.  What compiler are you using? Can you try reinstalling Rccp, RccpArmadillo, and RccpParallel and then try largevis?

[2021-03-11 04:19] elbamos commented on #61
You can definitely use the backoncran branch.

I was also able to reproduce the issue you're seeing in the develop branch, which should have a fix later this week if not tonight.

[2021-03-11 20:24] elbamos commented on #61
@jsaintvanne Can you try the version I have currently on the develop branch? It should resolve your issue.

[2021-03-17 22:26] elbamos commented on #61
@jsaintvanne Just following-up about this... I've made some significant improvements recently, and would appreciate if you could let me know if your issue isn't resolved by what's currently up in develop. I'm going to close this in a few days if I don't hear from you.

[2021-03-17 22:27] elbamos commented on #60
@Shawnmhy Please let me know if your issue isn't resolved, otherwise I'll close this in a few days.

[2021-03-29 13:02] jsaintvanne commented on #61
Hello !
Sorry I can't answered before !
I think I now know why I had this issue : I'm on Ubuntu 18.10 and it is no longer maintain so I have a lot of problems with all packages...

[2021-03-30 18:31] elbamos commented on #61
Ok. Please give the version in the develop branch a try and open a new issue if you still have trouble.

[2021-03-30 18:31] #61 closed, assigned to nobody

[2021-03-30 18:31] #60 closed, assigned to nobody

[2021-03-30 18:32] #56 closed, assigned to nobody

[2021-09-28 14:51] Shawnmhy opened #62 "error: SpMat::SpMat(): invalid row or column index"
Hi there, I am trying to use largevis to do clustering. I have about ~200 dataset, each dataset has ~ 1000 - 100000 samples with 2 features (feature number is consistent). While the largevis function works for almost all my dataset, I still got this error message for one of my dataset:

[code]

I realized that someone had such problem before, and the solution is to install the branch 'hotfix/twobu

[2021-09-28 18:43] elbamos commented on #62
Hi Shawn...

The most recent branch is `feature/backoncran`. I just tried this with your data and code and, with some changes for parameters that have been removed from the functions, it ran perfectly.

I note, though, that your dataset has only two input features, and your code would generate a dataset with two output features. LargeVis is a method for *dimensionality reduction*. Since your data

[2021-09-28 18:48] elbamos commented on #52
I'm going to close this issue, please feel free to reopen.

[2021-09-28 18:48] #52 closed, assigned to nobody

[2021-09-28 19:01] Shawnmhy commented on #62
Hi elbamos, thank you for your reply. I tried to install this most recent branch but got an error:
[code]
Any ideas?

The reason I am using the dbscan clustering from largeVis is I find that the clusters generated from is more 'realistic' (in my analysis context) than the dbscan package.

[2021-09-28 20:09] elbamos commented on #62
Huh... I just tried cutting and pasteing your `install_github` line and it worked properly.  I suggest making sure you're using the current version of `remotes` and related packages and checking your setup.

[2022-01-12 11:23] blosloos opened #63 "largeVis for R version 4.1.2"
Dear elbamos.

Your largeVis algorithm and package has been of great help to us so far to reveal patterns in mass spectrometric data on environmental samples. Unfortunately, I am now forced to update from R version 3.3.3 to the latest version 4.1.2, and have thus tried to `install_github("elbamos/largeVis")`, using the devtools library, Rtools and its dependencies. On a 64bit Windows machine, this

[2022-01-12 19:04] elbamos commented on #63
Hi, try branch feature/backoncran. I really should get around to getting this actually back on CRAN…

[2022-01-13 15:58] blosloos commented on #63
Great, thanks - that worked perfectly. Yes, maintaining CRAN packages can be time consuming ... but at least having a running version of your package on git is already awesome. largeVis is really helpful!

[2022-01-13 15:58] #63 closed, assigned to nobody